#app {
  display: grid;
  place-content: center;
  height: 100vh;
  animation: changeColor 4s infinite alternate ease-in-out;
}

@keyframes changeColor {
  0% { background-color: #dca44d; }
  100% { background-color: #ae7c2a; }
}
